section#intro {
  width: 100%;
  height: 110px;
  background: #faf7e9;
  border-bottom: 10px solid #e7e4d6;
  -moz-box-shadow: 0px 0px 15px 0px black;
  -webkit-box-shadow: 0px 0px 15px 0px black;
  box-shadow: 0px 0px 15px 0px black; }
  section#intro .container {
    width: 800px;
    position: relative; }
    section#intro .container .logo {
      width: 320px;
      height: 80px;
      # margin: 0px auto; }
      section#intro .container .logo a {
        text-decoration: none; }
      section#intro .container .logo p {
        font-style: italic;
        margin-left: 45px;
        margin-top: -2px;
        color: #625d50; }
        section#intro .container .logo p a {
          color: #625d50;
          text-decoration: underline; }

#knplabs {
  position: absolute;
  right: 0px;
  bottom: 20px; }
  #knplabs:before {
    content: 'by ';
    color: #666666;
    font-family: 'MetaMediumRegular',sans-serif; }
